name: Auto Green Dots

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 2 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Make a Change
        run: |
          date > last_run.txt
          git config --global user.email "ritikchoudhary74703@gmail.com"
          git config --global user.name "ritikchoudhary7470"
          git add last_run.txt
          git commit -m "Daily Green Dot Update"
          git push
